body {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 138, 143);
}

sup {
    font-style: normal;
}

.main {
    display: flex;
    flex-wrap: wrap;
    /* background-color:silver; */
}
img {
    max-width: 100%;
    max-height: 100%;
}

.page-header {
    text-align: center;
    border: 0; /* 1px solid black; */
    background-color:  aquamarine;
    border-radius: 10px;
    margin: auto;
    margin-bottom: .5em;
    width: 50%;
    padding: .1em;
}

.fish {
    color: black;
    background-color: aquamarine;
    border: green 1px dotted;
    border-radius: 10px;
    text-align: center;
}

.fish-image {
    flex-basis: 25%;
    height: auto;
    border: 0;
}

.fish-collection {
    /* flex-basis: 50%; */
    border: 0;
    /* padding: 0; */
    /*background-color: lightblue;*/
}

.fish-list {
    border:  0; /*green 1px dashed; */
    border-radius: 10px;
    background-color:lightcyan;

}
.col {
        flex: 30%;
}


@media screen and (max-width: 1000px){
    .main {
        flex-direction: column;
    }
}
.fish-image-direct {
    width: 100%;
    height: auto;
    border: 0;
}
/* .fish-info ul {
    display: inline-block;
    padding-left: 0;
    text-align: left;
} */
.fish-info {
    flex-basis: 75%;
    margin-top: 0;
    /* text-align: center; */
}

.single-fish {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 1px black solid;
}

.single-fish section {
    margin: 0;
    border: 0;
}



h2, h3 {
    padding: 0;
    margin: 0;
}

.header {
    color: black;
    background-color: aquamarine;
    border: 0; /*green 1px dotted;*/
    border-radius: 10px;
    text-align: center;
    
}

.location-section {
    border: 0;
    /* padding: 0; */
    /* background-color: seagreen; */
}

.travel-section {
    border: 0; 
    padding: 0;
}

.travel-quote-list {
    border: 0; /*green 1px dashed;*/
    border-radius: 10px;
    background-color:lightcyan;  
}

.fishtank {
    /* flex-basis: 50%; */
    border: 0;
    /* padding: 0; */
    /* background-color: lightblue; */
}
.fishtank-tip-list {
    border:  0; /*green 1px dashed; */
    border-radius: 10px;
    background-color:lightcyan;

}

.locations-subsec {
    border: 0;
    padding: 0;
}

.locations-list {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    border-radius: 10px;
    background-color:lightcyan;
}

.single-location {
    display: flex;
    border: 0;
    padding: 0;
    border-bottom: 1px black solid;
}
.location-image {
    flex-basis: 75%;
    border: 0;
    padding: 0;
}

.location-image-direct {
    border: 0;
    padding: 5px;
    border-radius: 50%;
    width: 15em;
    height: 10em;
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit: cover;
}

.location-name {
    border: 0;
    padding: 0;
    flex-basis: 25%;
    text-align: center;
    margin: auto;
}

section {
    border: 1px dotted;
    margin: 5px;
    padding: 5px;
}

div {
    border: 1px dotted;
    margin: 5px;
    padding: 5px;
}

aside {
    border: 1px dotted;
    margin: 5px;
    padding: 5px;
    flex-basis: 33%;
}