body {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 102, 255);
}

.main {
    display: flex;
    background-color:silver;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.page-header {
    text-align: center;
    border: 1px solid black;
    background-color: rgb(231, 223, 210);
    border-radius: 10px;
    margin: auto;
    margin-bottom: .5em;
    width: 50%;
    padding: .1em;
}

.fish {
    color: black;
    background-color: aquamarine;
    border: green 1px dotted;
    border-radius: 10px;
    text-align: center;
}
.fish-image {
    flex-basis: 25%;
}

.fish-collection {
    /* flex-basis: 50%; */
    border: 0;
    /* padding: 0; */
    background-color: lightblue;
}

.fish-list {
    border: green 1px dashed;
    border-radius: 10px;
    background-color:lightcyan;

}

.fish-image-direct {
    height: 75%; 
}
/* .fish-info ul {
    display: inline-block;
    padding-left: 0;
    text-align: left;
} */
.fish-info {
    flex-basis: 75%;
    margin-top: 0;
    /* text-align: center; */
}

.single-fish {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 1px black solid;
}

.single-fish section {
    margin: 0;
    border: 0;
}



h2, h3 {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
}

.location-section {
    border: 0;
    padding: 0;
    background-color: seagreen;
}

.travel-section {
    border: 0; 
    padding: 0;
}

.locations-subsec {
    border: 0;
    padding: 0;
}

.locations-list {
    display: flex;
    flex-direction: column;
}

.single-location {
    display: flex;
}
.location-image {
    flex-basis: 75%;
}

.location-image-direct {
 
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:cover;
}

.location-name {
    flex-basis: 25%;
}

section {
    border: 1px dotted;
    margin: 5px;
    padding: 5px;
}

div {
    border: 1px dotted;
    margin: 5px;
    padding: 5px;
}

aside {
    border: 1px dotted;
    margin: 5px;
    padding: 5px;
    flex-basis: 33%;
}